

nav {
    background-color: #1b5e20;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

.image-box {
    width: 300px;
    height: 180px;
    border: 2px dashed white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.fill-closing-horizontal {
    -webkit-user-select: none;
    display: inline;
    text-decoration: none;
    padding: 10px
}

/* vidéo en fond */
.bg-video-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

#player iframe {
  width: 100vw;
  height: 100vh;
}

/* lisibilité du texte */
section {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 30px auto;
}



